flows/S4ApiFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>591</locationX>
        <locationY>245</locationY>
        <actionName>S4Api.listStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SplitLooper</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FailEmail</name>
        <label>FailEmail</label>
        <locationX>988</locationX>
        <locationY>307</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateDeploymentFail</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>travlingcoder@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>richards.kevin93@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FailerDaemon</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PassEmail</name>
        <label>PassEmail</label>
        <locationX>909</locationX>
        <locationY>485</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateDeploymentPass</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>travlingcoder@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>richards.kevin93@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PasserDaemon</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>S4Login</name>
        <label>S4Login</label>
        <locationX>397</locationX>
        <locationY>389</locationY>
        <actionName>S4Api.loginUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>consolelog</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanInit</name>
        <label>ScanInit</label>
        <locationX>477</locationX>
        <locationY>485</locationY>
        <actionName>S4Api.scanInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignScanId</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanStart</name>
        <label>ScanStart</label>
        <locationX>576</locationX>
        <locationY>353</locationY>
        <actionName>S4Api.scanStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignFindings</name>
        <label>AssignFindings</label>
        <locationX>727</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>High</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Medium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Low</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Low</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFindings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScanId</name>
        <label>AssignScanId</label>
        <locationX>576</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>ScanBody.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org.orgx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanBody.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>consolelog</name>
        <label>consolelog</label>
        <locationX>471</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S4Login.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanInit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckFindings</name>
        <label>CheckFindings</label>
        <locationX>842</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FailEmail</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PassEmail</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>SplitLooper</name>
        <label>SplitLooper</label>
        <locationX>786</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause5Minutes</targetReference>
            </connector>
            <label>ifPending</label>
        </rules>
        <rules>
            <name>ifCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFindings</targetReference>
            </connector>
            <label>ifCompleted</label>
        </rules>
    </decisions>
    <formulas>
        <name>PauseFor5</name>
        <dataType>DateTime</dataType>
        <expression>{!Now} - 0.04</expression>
    </formulas>
    <interviewLabel>S4ApiFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S4ApiFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDeployment</name>
        <label>GetDeployment</label>
        <locationX>367</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S4Login</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Job__c</object>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDeployFail</name>
        <label>UpdateDeployFail</label>
        <locationX>1356</locationX>
        <locationY>302</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDeploymentFail</name>
        <label>UpdateDeploymentFail</label>
        <locationX>1109</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>UpdateResume</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDeploymentPass</name>
        <label>UpdateDeploymentPass</label>
        <locationX>1007</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>UpdateResumePass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateDeployPass</name>
        <label>updateDeployPass</label>
        <locationX>1265</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateResume</name>
        <label>UpdateResume</label>
        <locationX>1245</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>UpdateDeployFail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateResumePass</name>
        <label>UpdateResumePass</label>
        <locationX>1137</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>updateDeployPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>GetDeployment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;To see the reason for failure, please check out this link:&amp;nbsp; https://s4dev.digitsec.com:8080/index#scan/{!ScanBody.scanId}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>console</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeploymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>High</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobResult</name>
        <apexClass>ExternalService__Copado_JobResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JWT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Low</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Org</name>
        <apexClass>ExternalService__S4Api_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>60249f798a6ac52a9865bd09</stringValue>
        </value>
    </variables>
    <variables>
        <name>Resume</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScanBody</name>
        <apexClass>ExternalService__S4Api_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanListStatusResponse</name>
        <apexClass>ExternalService__S4Api_ScanListStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause5Minutes</name>
        <label>Pause5Minutes</label>
        <locationX>570</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause5</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>PauseFor5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause5</label>
        </waitEvents>
    </waits>
</Flow>
