flows/s4Api2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>1409</locationX>
        <locationY>221</locationY>
        <actionName>S4Api.listStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatusPendings</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>Token.token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>S4Login</name>
        <label>S4Login</label>
        <locationX>886</locationX>
        <locationY>157</locationY>
        <actionName>S4Api.loginUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignTokenAndOrg</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanInit</name>
        <label>ScanInit</label>
        <locationX>1093</locationX>
        <locationY>185</locationY>
        <actionName>S4Api.scanInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignScanId</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>Token.token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmailFail</name>
        <label>SendEmailFail</label>
        <locationX>1736</locationX>
        <locationY>344</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CheckStatus.200.Orgx5fId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>FailBuild</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>PleaseFail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FailerDaemon</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailPass</name>
        <label>SendEmailPass</label>
        <locationX>1883</locationX>
        <locationY>165</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ConsoleLog</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>richards.kevin93@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PassedYay</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StartScan</name>
        <label>StartScan</label>
        <locationX>1299</locationX>
        <locationY>211</locationY>
        <actionName>S4Api.scanStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>Token.token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignFindings</name>
        <label>AssignFindings</label>
        <locationX>1659</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>High</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Medium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Low</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Low</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFindings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScanId</name>
        <label>AssignScanId</label>
        <locationX>1196</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>ScanBody.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org.orgx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanBody.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartScan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTokenAndOrg</name>
        <label>AssignTokenAndOrg</label>
        <locationX>990</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>Token.token</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S4Login.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanInit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUser</name>
        <label>AssignUser</label>
        <locationX>780</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>User.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User.password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S4Login</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckStatusPendings</name>
        <label>CheckStatusPendings</label>
        <locationX>1464</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>ConsoleLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SplitLooper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckFindings</name>
        <label>CheckFindings</label>
        <locationX>1731</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FailBuild</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailFail</targetReference>
            </connector>
            <label>FailBuild</label>
        </rules>
        <rules>
            <name>PassBuild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailPass</targetReference>
            </connector>
            <label>PassBuild</label>
        </rules>
    </decisions>
    <decisions>
        <name>SplitLooper</name>
        <label>SplitLooper</label>
        <locationX>1583</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitToPoll</targetReference>
            </connector>
            <label>IfPending</label>
        </rules>
        <rules>
            <name>IfCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFindings</targetReference>
            </connector>
            <label>IfCompleted</label>
        </rules>
    </decisions>
    <formulas>
        <name>Pause5</name>
        <dataType>DateTime</dataType>
        <expression>{!Now} - 0.04</expression>
    </formulas>
    <interviewLabel>s4Api2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>s4Api2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AssignUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConsoleLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>High</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JWT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Low</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamedCredentialFinder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>S4api</stringValue>
        </value>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Org</name>
        <apexClass>ExternalService__S4Api_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>bad</stringValue>
        </value>
    </variables>
    <variables>
        <name>PW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Warcraft1!</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScanBody</name>
        <apexClass>ExternalService__S4Api_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanListStatusresponse</name>
        <apexClass>ExternalService__S4Api_ScanListStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Token</name>
        <apexClass>token</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <apexClass>ExternalService__S4Api_z0User</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Richards.kevin93@gmail.com</stringValue>
        </value>
    </variables>
    <waits>
        <name>WaitToPoll</name>
        <label>WaitToPoll</label>
        <locationX>1519</locationX>
        <locationY>87</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause5Mins</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause5Mins</label>
        </waitEvents>
    </waits>
</Flow>
