flows/S4Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>1326</locationX>
        <locationY>161</locationY>
        <actionName>S4Api.listStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatusPendings</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>S4Login</name>
        <label>S4Login</label>
        <locationX>761</locationX>
        <locationY>162</locationY>
        <actionName>S4Api.loginUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignTokenAndOrg</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanInit</name>
        <label>ScanInit</label>
        <locationX>987</locationX>
        <locationY>162</locationY>
        <actionName>S4Api.scanInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignScanId</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmailFail</name>
        <label>SendEmailFail</label>
        <locationX>1732</locationX>
        <locationY>100</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>richards.kevin93@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>travlingcoder@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FailerDaemon</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailPass</name>
        <label>SendEmailPass</label>
        <locationX>1906</locationX>
        <locationY>295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>richards.kevin93@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PassDaemon</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StartScan</name>
        <label>StartScan</label>
        <locationX>1221</locationX>
        <locationY>161</locationY>
        <actionName>S4Api.scanStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignFindings</name>
        <label>AssignFindings</label>
        <locationX>1619</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>High</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Medium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Low</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Low</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFindings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScanId</name>
        <label>AssignScanId</label>
        <locationX>1105</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>ScanBody.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org.orgx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanBody.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartScan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTokenAndOrg</name>
        <label>AssignTokenAndOrg</label>
        <locationX>860</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S4Login.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanInit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckStatusPendings</name>
        <label>CheckStatusPendings</label>
        <locationX>1326</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>ConsoleLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SplitLooper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckFindings</name>
        <label>CheckFindings</label>
        <locationX>1725</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FailBuild</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailFail</targetReference>
            </connector>
            <label>FailBuild</label>
        </rules>
        <rules>
            <name>PassBuild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>High</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Low</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailPass</targetReference>
            </connector>
            <label>PassBuild</label>
        </rules>
    </decisions>
    <decisions>
        <name>SplitLooper</name>
        <label>SplitLooper</label>
        <locationX>1444</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitToPoll</targetReference>
            </connector>
            <label>IfPending</label>
        </rules>
        <rules>
            <name>IfCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFindings</targetReference>
            </connector>
            <label>IfCompleted</label>
        </rules>
    </decisions>
    <formulas>
        <name>Pause5</name>
        <dataType>DateTime</dataType>
        <expression>{!Now} - 0.04</expression>
    </formulas>
    <interviewLabel>S4Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S4Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>635</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>S4Login</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;To see the reason for failure, please check out this link:  https://s4dev.digitsec.com:8080/index#scan/{!ScanBody.scanId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ConsoleLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>High</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JWT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Low</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamedCredentialFinder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>S4api</stringValue>
        </value>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Org</name>
        <apexClass>ExternalService__S4Api_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5fb47a25e7f1be1d00328dcd</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScanBody</name>
        <apexClass>ExternalService__S4Api_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanListStatusresponse</name>
        <apexClass>ExternalService__S4Api_ScanListStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Token</name>
        <apexClass>token</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <apexClass>ExternalService__S4Api_z0User</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>WaitToPoll</name>
        <label>WaitToPoll</label>
        <locationX>1537</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause5Mins</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause5Mins</label>
        </waitEvents>
    </waits>
</Flow>
