flows/S4Part32.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>740</locationX>
        <locationY>74</locationY>
        <actionName>s4Part32.listStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatusPendings</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>S4Login</name>
        <label>S4Login</label>
        <locationX>255</locationX>
        <locationY>321</locationY>
        <actionName>s4Part32.loginUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignTokenAndOrg</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ScanInit</name>
        <label>ScanInit</label>
        <locationX>499</locationX>
        <locationY>298</locationY>
        <actionName>s4Part32.scanInit</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignScanId</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Org</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>StartScan</name>
        <label>StartScan</label>
        <locationX>611</locationX>
        <locationY>50</locationY>
        <actionName>s4Part32.scanStart</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ScanBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>x-access-token</name>
            <value>
                <elementReference>JWT</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignFindings</name>
        <label>AssignFindings</label>
        <locationX>912</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>High</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Medium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Low</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.Low</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignScanId</name>
        <label>AssignScanId</label>
        <locationX>524</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>ScanBody.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org.orgx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanBody.scanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanInit.200.x5fid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartScan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTokenAndOrg</name>
        <label>AssignTokenAndOrg</label>
        <locationX>387</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>JWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S4Login.200.token</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Org.orgx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S4Login.200.company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScanInit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckStatusPendings</name>
        <label>CheckStatusPendings</label>
        <locationX>922</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>ConsoleLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckStatus.200.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SplitLooper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SplitLooper</name>
        <label>SplitLooper</label>
        <locationX>902</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PendingOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause5Mins</targetReference>
            </connector>
            <label>PendingOutcome</label>
        </rules>
        <rules>
            <name>CompletedOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckStatus.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFindings</targetReference>
            </connector>
            <label>CompletedOutcome</label>
        </rules>
    </decisions>
    <formulas>
        <name>Pause5</name>
        <dataType>DateTime</dataType>
        <expression>{!Now} - 0.04</expression>
    </formulas>
    <interviewLabel>S4Part32 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S4Part32</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>159</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>S4Login</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: Arial; font-size: 10pt;&quot;&gt;To see the reason for failure, please check out this link:&amp;nbsp; https://s4.digitsec.com/index#scan/{!ScanBody.scanId}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ConsoleLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>High</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JWT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Low</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Org</name>
        <apexClass>ExternalService__s4Part32_Org</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>60270aa150a53322ece3863f</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScanBody</name>
        <apexClass>ExternalService__s4Part32_ScanOrg</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScanListStatusResponse</name>
        <apexClass>ExternalService__s4Part32_ScanListStatusResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause5Mins</name>
        <label>Pause5Mins</label>
        <locationX>740</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause5Minutes</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause5Minutes</label>
        </waitEvents>
    </waits>
</Flow>
